<!-- Loading -->
<div
  *ngIf="loading"
  class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-1 xl:grid-cols-4 gap-4 p-4"
>
  <app-loading-item *ngFor="let item of [].constructor(16)"></app-loading-item>
</div>
<!-- Error -->
<div
  class="px-6 py-4 bg-gray-200 shadow rounded-xl border-pink-500 border-2 text-pink-500"
  *ngIf="error && !loading"
>
  <p class="text-center">
    Error: no pude realizar la conexión con el servidor o con la base de datos
  </p>
  <p class="text-sm text-center">
    (voy a intentar la operación cada 10 segundos)
  </p>
</div>

<!-- OK -->
<div
  class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-1 xl:grid-cols-4 gap-4 p-4"
  *ngIf="!error"
>
  <div *ngFor="let item of list">
    <app-grid-item [item]="item"></app-grid-item>
  </div>
</div>
