<div
  class="animate-pulse group block rounded-xl p-4 bg-gray-100 bg-opacity-90 text-gray-800 shadow h-30 py-10"
>
  <div class="block w-100 flex flex-wrap justify-between">
    <div>&nbsp;</div>
    <div class="h-4 w-3/4 bg-gray-400 rounded">&nbsp;</div>
    <div>&nbsp;</div>
  </div>
  <div class="grid grid-cols-2 gap-1 text-xs mt-3">
    <div>
      <div class="h-2 w-3/4 bg-gray-400 rounded">&nbsp;</div>
      <div class="h-4 my-1 w-3/4 bg-gray-400 rounded">&nbsp;</div>
    </div>

    <div>
      <div class="h-2 w-3/4 bg-gray-400 rounded">&nbsp;</div>
      <div class="h-4 my-1 w-3/4 bg-gray-400 rounded">&nbsp;</div>
    </div>
  </div>
</div>
