<div
  class="group block rounded-xl p-4 bg-gray-100 bg-opacity-90 text-gray-800 shadow max-h-30"
>
<h3 class="text-center">{{ item.servidor }} [{{ item.idEfector }}]</h3>
  <div class="grid grid-cols-2 gap-1 text-xs mt-3">
    <app-grid-item-status
      titulo="Ultima Sync SIPS"
      [horaDesdeSync]="item.horasDesdeUltimoSync"
      [horaInicioSync]="item.horaInicioUltimoSync"
    ></app-grid-item-status>

    <app-grid-item-status
      titulo="Ultima Sync Efector"
      [horaDesdeSync]="item.horasDesdeUltimoSyncEfector"
      [horaInicioSync]="item.horaInicioUltimoSyncEfector"
    ></app-grid-item-status>
  </div>
</div>
